li a{
    color: dimgrey;
}

body {
    padding: 20px 20px 10px 30px;
    background: url("images/background.png") no-repeat;
    background-size: cover;
}

#header {
    background-color: rgb(103, 177, 247);
    padding: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height:60px;
    padding-left: 40%;
    align-items: center;
    color: darkgrey;
}