{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'polls/materialize.css' %}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body>
    <hr>
    <header class="blue-text text-darken-2"><marquee>This is a polling webapp made using Django</marquee></header>
    <hr>
    <br>
    <br>
<h5 class="z-depth-2"> Q. {{ question.id }}   {{ question.question_text }} </h5>

{% if error_message %} <p>{{ error_message }}</p> {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}

    {% for choice in question.choice_set.all %}
        <!-- <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> <br> -->
        <p>
            <label>
              <input class="with-gap" name="choice" value="{{ choice.id }}" type="radio"/>
              <span>{{ choice.choice_text }}</span>
            </label>
          </p>
    {% endfor %}
    <br>
    <input class="btn-floating pulse" type="submit" value="Vote">
</form>
<br>
<a href="{% url 'polls:index' %}"> Back </a>
</body>