{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'polls/materialize.css' %}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body>
    <hr>
    <header class="blue-text text-darken-2"><marquee>This is a polling webapp made using Django</marquee></header>
    <hr>
    <br>
    <br>
    <h5 class="z-depth-2">Recent questions are : </h5>

    {% if latest_questions %}
    <ul>
        {% for question in latest_questions %}
            <li>Q.{{ forloop.counter }}   <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
        {% endfor %}
    </ul>

    {% else %}
        <h1> No polls are available </h1>
    {% endif %}
    
    <hr>
    <footer id="footer">Made by: Mustafa Sadriwala &copy; Copyright 2020</footer>
    <hr>
</body>