{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'polls/materialize.css' %}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body>
    <hr>
    <header class="blue-text text-darken-2"><marquee>This is a polling webapp made using Django</marquee></header>
    <hr>
    <br>
    <br>
<h5> {{question.question_text}} </h5>

<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}   :   {{ choice.votes }}  vote{{choice.votes|pluralize}}</li>
    {% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote Again</a>

<a href="{% url 'polls:index' %}"> Back to Homepage</a>

</body>